<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Восстановление</title>
</head>
<body>
    {% block content %}
        <h1>Сброс пароля</h1>
        {% if validlink %}
            <p>Пожалуйста, введите новый пароль дважды:</p>
            <form action="." method="POST">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Изменить пароль"/></p>
            </form>
        {% else %}
            <p>Ссылка для сброса пароля недействительна, возможно, потому, что она
                уже был использован. Пожалуйста, запросите сброс нового пароля.</p>
        {% endif %}
    {% endblock %}
</body>
</html>